.weather-widget-container{
  min-width: 100vw;
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  ngx-weather{
    margin-bottom: 10px;
  }
}
